<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwPi4g5VQAaK6NG1wzsv5JjsKET_zs9vc</string>
	<key>GCM_SENDER_ID</key>
	<string>552364409858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.beezle.hackertracker</string>
	<key>PROJECT_ID</key>
	<string>junctor-hackertracker</string>
	<key>STORAGE_BUCKET</key>
	<string>junctor-hackertracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552364409858:ios:f9a5d6de4e80e76a0d131b</string>
</dict>
</plist>