<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.hackertracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hackertracker</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Add conference events to Calendar</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Permission to track helps us understand how the conference schedule and merch tools are used so we can improve them. We never sell your data or use it for ads.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>black</string>
			<key>UIImageName</key>
			<string>beezle</string>
		</dict>
	</dict>
</dict>
</plist>
