<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Add conference events to Calendar</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>black</string>
			<key>UIImageName</key>
			<string>beezle</string>
		</dict>
	</dict>
</dict>
</plist>
